@font-face {
    font-family: roboto;
    src: url("../../assets/fonts/RobotoSlab-Regular.ttf");
  }
  @font-face {
    font-family: Avenir;
    src: url("../../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
  }